/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f;
    color: #00b3b3;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00b3b3;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    background-color: #333;
    margin: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 28px;
    color: #00b3b3;
}

#descripcion p {
    font-size: 16px;
    line-height: 1.5;
}

#warframe-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #1f1f1f;
    color: #00b3b3;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #00b3b3;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#info-dialog {
    width: 400px;
    padding: 20px;
    background-color: #333;
    border: solid 2px #00b3b3;
    border-radius: 10px;
    color: white;
}

#close-btn {
    background-color: #00b3b3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para cuando pasamos el ratón sobre los enlaces y botones */
nav ul li a:hover, button:hover, #close-btn:hover {
    color: #1f1f1f;
    background-color: #00d1d1;
}
